name: "Intelbras Solar"
description: Integração com o painel da Intelbras Solar
version: 1.0.9
slug: intelbras-solar
url: https://github.com/mastria/hassio-addons/tree/main/intelbras-solar
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
ports:
  8000/tcp: 8000
options:
  usuario: ""
  senha: ""
  log_level: info
schema:
  usuario: str?
  senha: password?
  log_level: list(emergency|alert|critical|error|warning|notice|info|debug)
startup: application
init: false
homeassistant_api: true
